<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-select>
      <ion-select-option value="eng" selected>English</ion-select-option>
      <ion-select-option value="marathi">Marathi</ion-select-option>
    </ion-select>
  </ion-item>
  <div class="button-auth">
      <ion-button shape="round" href="owner" class="ion-margin-bottom">I am Owner</ion-button>
      <ion-button shape="round" fill="outline">I am Hirer</ion-button>
  </div>
  <div class="ion-text-center">
      <a [routerLink]="['/create-account']">Sign Up</a>
  </div>
</ion-content>
