<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-row>
      <ion-col size="7">
        <ion-item lines="none" class="contact-detail">
            <img src="assets/images/call.png" alt="call">
          <ion-label>
            <p>98646460/61</p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="5">
        <ion-select interface="popover">
          <ion-select-option selected>English</ion-select-option>
          <ion-select-option>Hindi</ion-select-option>
          <ion-select-option>Marathi</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <form action="#" padding-vertical>
      <ion-item>
          <ion-label position="stacked">User Name</ion-label>
          <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-checkbox></ion-checkbox>
            <ion-label>Remember Me</ion-label>
          </ion-item>
        </ion-col>
        <ion-col class="ion-align-self-center ion-text-end">
          <a routerLink="/login">Forgot Password?</a> 
        </ion-col>
      </ion-row>
      <div class="ion-text-center" padding>
        <ion-button class="button-large" shape="round" [routerLink]="['/login']" routerDirection="forward">Login</ion-button>
      </div>
    </form>
    <div text-center padding-vertical>
      <p text-capitalize>Sign in with</p>
      <img src="assets/images/google.png" alt="google">
    </div>
    <p text-center text-capitalize>Don't have an account <a [routerLink]="['/create-account']">sign up</a></p>
</ion-content>
