<ion-header>
<ion-toolbar>
<ion-buttons slot="start">
<ion-back-button defaultHref="/adress-detail"></ion-back-button>
</ion-buttons>
<ion-title>Bank Account(Optional)</ion-title>
<ion-icon name="create" slot="end" margin-end></ion-icon>
</ion-toolbar>
</ion-header>

<ion-content padding>
<form [formGroup]="bankAccountForm">
<ion-item>
<ion-label position="fixed" class="ion-text-wrap">Bank Account Name</ion-label>
<ion-input type="text" formControlName="accName"></ion-input>
</ion-item> 
<ion-item>
<ion-label position="fixed">Account No.</ion-label>
<ion-input type="number" formControlName="accNo"></ion-input>
</ion-item> 
<ion-item>
<ion-label position="fixed">IFSC Code</ion-label>
<ion-input type="text" formControlName="ifsc"></ion-input>
</ion-item> 
<ion-item>
<ion-label position="fixed">Branch</ion-label>
<ion-input type="text" formControlName="branch"></ion-input>
</ion-item> 
<ion-item>
<ion-label position="fixed">UPI ID</ion-label>
<ion-input type="text" formControlName="upi"></ion-input>
</ion-item>

<ion-item lines="none">
<ion-checkbox></ion-checkbox>
<ion-label>"I agreed to the terms & conditions."</ion-label>
</ion-item>

<div class="ion-text-center" padding>
<ion-button class="button-large" shape="round">Submit</ion-button>
</div>
</form>
</ion-content>