<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/signup"></ion-back-button>
      </ion-buttons>
    <ion-title>Why MOR247</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item>
      <ion-label>Of Active Hires</ion-label>
      <a [routerLink]="['/login']" slot="end">100</a>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Of Active Contract</ion-label>
      <a [routerLink]="['/login']" slot="end">1000</a>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Of machines</ion-label>
      <a [routerLink]="['/login']" slot="end">2000</a>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Of Happy Owners</ion-label>
      <a [routerLink]="['/login']" slot="end">700</a>
    </ion-item>
  </ion-card>

  <h5>Best Equipment Rental Company</h5>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
      </ion-avatar>
      <ion-label>
        <h2>Dhiren</h2>
        <p>Project Manager,ACM</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <div class="ion-text-center">
      <a [routerLink]="['/login']">Platform Features List</a>
  </div>

 <ion-row>
   <ion-col size="6"><ion-button shape="round" href="login">Add My Machine</ion-button></ion-col>
   <ion-col size="6"><ion-button shape="round" fill="outline" href="login">Contact Admin</ion-button></ion-col>
 </ion-row>
</ion-content>
