<ion-header>
<ion-toolbar>
<ion-buttons slot="start">
<ion-back-button defaultHref="/login"></ion-back-button>
</ion-buttons>
<ion-title>Create Account</ion-title>
<ion-icon name="create" slot="end" margin-end></ion-icon>
</ion-toolbar>
</ion-header>

<ion-content padding>
<form [formGroup]="createAccontForm">
<ion-item>
<ion-label position="stacked">Entity Name(optional)</ion-label>
<ion-input type="text" name="entity-name" formControlName="entity"></ion-input>
</ion-item>
<ion-item>
<ion-label position="stacked">Name</ion-label>
<ion-input type="text" name="name" formControlName="fullName"></ion-input>
</ion-item>
<ion-item>
<ion-label position="stacked">Password</ion-label>
<ion-input type="password" name="password" formControlName="password"></ion-input>
</ion-item>
<ion-item>
<ion-label position="stacked">Contact No.</ion-label>
<ion-input type="tel" name="contactNo" formControlName="mobile"></ion-input>
</ion-item>
<ion-item>
<ion-label position="stacked">Email ID</ion-label>
<ion-input type="email" name="email" formControlName="emailId"></ion-input>
</ion-item>
<ion-item>
<ion-label position="stacked">Gst(optional)</ion-label>
<ion-input type="text" name="gst" formControlName="gst"></ion-input>
</ion-item>
<ion-item>
<ion-label position="stacked">Pan Number</ion-label>
<ion-input type="text" name="panNo" formControlName="pan"></ion-input>
</ion-item>
<ion-item>
<ion-label position="stacked">Upload Pan Card</ion-label>
<ion-input type="file" formControlName="panImageId"></ion-input>
<ion-icon name="cloud-upload" slot="end" margin-top></ion-icon>
</ion-item>
<div class="ion-text-center" padding>
<!-- <ion-button shape="round" fill="outline" (click)="next()" >Next</ion-button> -->
<ion-button shape="round" fill="outline" [routerLink]="['/address-details']" >Next</ion-button>
</div>
</form>
</ion-content>