<ion-header>
<ion-toolbar>
<ion-buttons slot="start">
<ion-back-button defaultHref="/signup"></ion-back-button>
</ion-buttons>
<ion-title>Adress Details</ion-title>
<ion-icon name="create" slot="end" margin-end></ion-icon>
</ion-toolbar>
</ion-header>

<ion-content padding>
<form [formGroup]="addressDetailForm">
<ion-item>
<ion-label position="stacked">Address Line 1 (preferably office)</ion-label>
<ion-input type="text" name="address1" formControlName="address1"></ion-input>
</ion-item>
<ion-item>
<ion-label position="stacked">Address Line 2 (preferably office)</ion-label>
<ion-input type="text" name="address2" formControlName="address2"></ion-input>
</ion-item>
<ion-item>
<ion-label position="stacked">City</ion-label>
<ion-input type="txet" name="city" formControlName="city"></ion-input>
</ion-item>
<ion-item>
<ion-label position="stacked">Pincode</ion-label>
<ion-input type="number" name="pincode" formControlName="pin"></ion-input>
</ion-item>
<ion-item>
<ion-label position="stacked">State</ion-label>
<ion-select interface="popover" formControlName="state">
<ion-select-option >Maharashtra</ion-select-option>
<ion-select-option>Goa</ion-select-option>
<ion-select-option>Gujrat</ion-select-option>
</ion-select>
</ion-item>
<div class="ion-text-center" padding>
<!-- <ion-button shape="round" fill="outline" (click)="next()">Next</ion-button> -->
<ion-button shape="round" fill="outline" [routerLink]="['/bank-account']">Next</ion-button>
</div>
</form>
</ion-content>