// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

//first page(home) slide css
.swiper-pagination{
  display: flex;
  justify-content: center;

  .swiper-pagination-bullet{
    flex: 0 0 5%;
    max-width: 5%;
    border-radius: 10px;

    &.swiper-pagination-bullet-active{
      --bullet-background-active: var(--ion-color-tertiary);
      flex: 0 0 10%;
      max-width: 10%;
    }
  } 
}
 