<ion-content padding>
  <div class="slide-start">
    <ion-slides pager="true">
      <ion-slide>
        <a [routerLink]="['/signup']">
        <img src="assets/images/crane.png" class="slide-image"/>
        </a>
      </ion-slide>
      <ion-slide>
        <a [routerLink]="['/signup']">
          <img src="assets/images/crane.png" class="slide-image"/>
        </a>
      </ion-slide>
      <ion-slide>
        <a [routerLink]="['/signup']">
          <img src="assets/images/crane.png" class="slide-image"/>
        </a>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="slide-text">
    <p class="ion-text-center ion-margin-horizontal">Powerd by MOR247</p>
    <a [routerLink]="['/signup']"  class="ion-align-self-center ion-margin-start">Skip</a>
  </div>
 
</ion-content>
