.slide-start
{
  display: flex;
  justify-content: center;
  min-height: 90%;

  ion-slides {
    --bullet-background: var(--ion-color-tertiary);
  }
}
.slide-text{
  display: flex;
  justify-content: center;
}
